/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

:root {
    font-size: 20px;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

.logo-img {
    width: 4rem;
    width: 4rem;
}

.nav-logos {
    width: 2rem;
    height: 2rem;
}

ul {
    list-style-type: none;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 100vh;
}

.header {
    grid-column: 1;
    grid-row: 1;
}

.content-body {
    grid-column: 2;
    grid-row: 1;
}

.trending-pfps {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
}

